@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.App.home::before{
    position: absolute;
    content: '';
    aspect-ratio: 1/1;
    height: 360px;
    border-radius: 50%;
    /* background: rgb(231, 0, 252); */
    background: #39A2DB;
    filter: blur(130px);
    top: 5%;
    right: 16%;
    transform: scale(0);
    transform-origin: bottom;
    opacity: 0;
}

.App.home.active::before {
    animation: reveal 1s ease-out 1 forwards;
}

.App.home h3 {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 1%;
  font-size: 20px;
  font-weight: 100;
  /* color: rgba(200, 227, 228, 0.897); */
  color: #073944;
  font-family: 'Varela Round', sans-serif;
  transform: rotate(-90deg) translateY(-100%);
  opacity: 0;
  transition: 0.2s ease-out;
  transition-delay: 1.3s;
}

.App.home.active h3 {
  transform: rotate(-90deg) translateY(0);
  opacity: 1;
}

.App.home h3::after {
  position: absolute;
  content: '';
  height: 1px;
  width: 120px;
  /* background-color: rgba(200, 227, 228, 0.897); */
  background-color: #073944;
  transform: translateX(100%);
}

.App.home h3::before {
  position: absolute;
  content: '';
  height: 1px;
  width: 120px;
  /* background-color: rgba(200, 227, 228, 0.897); */
  background-color: #073944;
  transform: translateX(-100%);
}

/* .image {
    position: fixed;
    right: 5%;
    height: 100vh;
    width: 50vw;
    bottom: 0;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0);
    transform-origin: bottom;
    opacity: 0;
}

.App.home.active .image {
    animation: reveal 1s ease-out 1 forwards;
}

@keyframes reveal {
    to {
        transform: scale(1);
        opacity: 1;
    }
}

.image img {
    position: absolute;
    left: 10%;
    width: 140%;
    right: 0%;
    filter: saturate(1.8);
} */

.App.home .text-container {
    position: absolute;
    left: 10%;
    top: 20%;
    max-width: 40%;
}

.App.home .text-container h1 {
    /* color: rgb(144, 253, 253); */
    color: #073944;
    font-size: 50px;
    font-family: 'Roboto', 'sans-serif';
    transform: translateY(100%);
    opacity: 0;
}

.App.home.active .text-container h1 {
    animation: show 0.9s ease-out 1s 1 forwards;
}

.App.home .text-container h2 {
    position: relative;
    color: rgb(191, 108, 199);
    text-transform: uppercase;
    font-size: 25px;
    line-height: 70px;
    font-family: 'Varela Round', 'sans-serif';
    font-weight: 900;
    transform: translateY(100%);
    opacity: 0;
}

.App.home.active .text-container h2 {
    animation: show 0.5s ease-out 1.3s 1 forwards;
}

.App.home .text-container span {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  margin: 10px 0 0;
  color: rgb(31, 31, 31);
  font-size: 17px;
  letter-spacing: 1px;
  line-height: 20px;
  max-width: 70%;
  font-family: 'Roboto', sans-serif;
}

.App.home .text-container span p {
  transform: translateX(200%);
  opacity: 0;
}

.App.home.active .text-container span p {
  animation: show 1s ease-out 2s forwards;
  animation-delay: calc(var(--i) * 15ms);
}

.App.home .text-container .feed-btn {
  position: relative;
  height: 65px;
  width: 230px;
  border: 2px solid #39A2DB;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  margin: 60px 0 0;
  text-transform: capitalize;
  font-size: 20px;
  cursor: pointer;
  color: #39A2DB;
  font-weight: 900;
  transform: translateY(100%);
  opacity: 0;
}

.App.home.active .text-container .feed-btn {
  animation: show 1.3s ease 1.5s forwards;
}

.App.home.active .text-container .feed-btn:hover {
  background: #39A2DB;
  color: azure;
}

.App.home .socials {
  position: fixed;
  bottom: 5%;
  right: 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 10;
  transform: translate(150%);
  opacity: 0;
}

.App.home.active .socials {
  animation: show 0.3s ease-out 2s forwards;
}

.App.home .socials::before {
  position: absolute;
  content: '';
  height: 120px;
  width: 1px;
  /* background-color: rgba(211, 235, 241, 0.445); */
  background-color: #073944;
  transform: translateY(-154%);
}

.App.home .socials .icon {
  position: relative;
  margin: 13px 0;
  /* fill: rgba(255, 255, 255, 0.877); */
  fill: #073944;
  transform: scale(1.4);
  cursor: pointer;
}

@media screen and (max-width: 500px) {
  .App.home .text-container {
    top:10%;
    left: 13%;
    max-width: 70%;
  }
  .App.home .text-container h1 {
    font-size: 35px;
  }
  .App.home .text-container h2 {
    font-size: 20px;
  }
}